/* You can add global styles to this file, and also import other style files */
.mainbody{
  padding: 0;
}
.navigation{
  padding-left: 0px;
  padding-bottom: 0px;
  margin-left: 30px; 
  font-weight : bold;   
  font-size: 20px;
}
.left-content{
  margin:30px;
  width : 700px;
  height: 400px;
  float: left;
}
.right-content{
display :inline;
}
.panel-footer{
  background-color: white
}
.btnchoose{
  height : 45px;
  width :200px;
  font-size :18px;
  color : red;
  background:white;
}
.btncompare{
  height : 45px;
  width :200px;
  font-size :18px;
  color : white ;
  background:red;
  margin-left:700px;
}
 .navbar-nav > li{
  padding-left:70px;
  padding-right:30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin:1em 0;
    padding: 0;
    background: red;
    padding-top:-30px;
    
}
.navbar-right{
 display : inline;
}
.nameProduct{
  font-size: 30px;
  font-family: "Times New Roman";
  font-weight: normal;

}
.img-responsive{
  display:inline;
}
.dropdown-toggle{
  cursor: pointer;
}
.overallrating{
  font-size: 18px;
}
.table1{
margin-top: 125px;
}
h6{
  display: inline;
  padding: 30px;
}
.values{
  color: red;
  font-size:18px;
}
.fivemaincharacteristics{
  margin-top:50px;
  margin-left: 725px;
}
.panel-title::before{
  content: '\25BE';
}
.panel-heading{
  background-color: white;
}
.stylelist{
  color: red;
}
h5{
  display: inline;
}
.table1{
  margin-left: 700px;
}
.stylecollaps{
  color: black;
  width:100%;
}
.btndownload{
  padding: 12px;
  height : 60px;
  width :300px;
  font-size :16px;
  color : red ;
  background:white;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .mySlides {display:none}
.demo {cursor:pointer}