<nav class="navbar left">
 <div class="container-fluid">
   <ul class="nav navbar-nav navbar-right">
         <li class = "nav-item">
            <a href="/pages/product" style="color :red; margin-right: 700px;">
            <span class="glyphicon glyphicon-chevron-left">
                </span>
                BACK TO PRODUCTS
                </a>
          </li>
          <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="startSignoutMainWindow()" style="color :red">
         Logout: {{username}}
       </a>
          </li>
   </ul>
 </div>
</nav>
<hr/>
<div *ngIf='post'>
      <div class='col-md-6'>
               <img class='center-block img-rounded img-responsive'
                    [style.width.px]='600'
                    [style.margin.px]='4'
                    src='http://i.imgur.com/{{post.productFileName}}'
                    [title]='post.productName'>
           </div>
   <div class='panel-body'>
       <div class='row'>
           <div class='col-md-6'>
               <div class='row'>
                   <div class='col-md-6 nameProduct'>{{post.productName}}</div>
               </div>
               <div class='row'>
                   <div class='col-md-3'>Description:</div>
                   <div class='col-md-6'>{{post.fDescription}}</div>
               </div>
               </div>
               </div>
           </div>
       </div>
   <div class='panel-footer'>
          <input type="submit" value="choose"   class="btn btn-default btncompare"/>
          <input type="submit" value="compare"   class="btn btn-default btnchoose"/>
</div>