.container {
   width:20%;
    float:left;
    height:800px; 
    overflow-y : auto;
}

.dropdown {
   display: inline-block;
   cursor:pointer
}

.dropdown-menu {
    display: block;
    min-width: 200px !important;
    font-size:100%;
    background-color:transparent;
    border: none;
    box-shadow:none;
    color:#000000;
}
 
.row {
    height:16%;
    font-size:75%;
    padding-left: 20px;
}

.filtertxt {
    margin-left:5px;
}

.filter_desc {
    float:left;
    width:90%;
    font-weight:bold;
}

/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: white}

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
   background-color:white;
}

.dropbtn {
   background-color:white;
   color: black;
   padding: 16px;
   font-size: 14px;
   font-weight: bold;
   border: none;
   cursor:pointer;
}

*/