<div class="container hidden-sm hidden-xs">
    <div *ngFor="let filter of filter.FilterGroups" class="row">
        <li class="dropdown" dropdown>
        <a dropdown-open style="color: black"><b>{{filter.FilterGroupDescription}}</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li *ngFor="let item of filter.FilterItemsGroup" >
                     <input type="checkbox" (change)="updateCheckedFilterCriteria($event)" [(ngModel)]="item.IsChecked"><span class="filtertxt">{{item.Filter}}</span>
                </li>
             </ul>
        </li>
    </div>
</div>


<!--
<div class="container-fluid">
  <div class="col-md-4">
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> LIFESPAN OF INFRASTRUCTURE</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><input type="checkbox"><b>BASIC shelter</b> (3 mths < x < 6 mths)<br></li>
          <li><input type="checkbox"><b>TRANSITIONAL shelter</b> (x < 18 mths)<br></li>
          <li><input type="checkbox"><b>WAREHOUSE structure</b> (x < 2y)<br></li>
          <li><input type="checkbox"><b>PREFABRICATED structures</b> (x < 5y)</li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> SIZE OF INFRASTRUCTURE</b><span class="caret"></span></a> 
        <ul class="dropdown-menu" >
          <li> <input type="checkbox"><b>FAMILY size</b> (10 m2 < x < 10 m2)<br></li>
          <li><input type="checkbox"><b>POLYVALENT size</b> (20 m2 < x < 50 m2)<br></li>
          <li><input type="checkbox"><b>MEDIUM size</b> (50 m2 < x < 150 m2)<br></li>
          <li><input type="checkbox"><b>LARGE size</b> (150 m2 < x)</li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> THERMAL VALUE</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <input type="checkbox"><b>LOW</b><br></li>
          <li><input type="checkbox"><b>MEDIUM</b><br></li>
          <li><input type="checkbox"><b>HIGH</b></li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> COST EFFECTIVENESS</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <input type="checkbox"><b>LOW</b>(0 < x < 100 &euro;/m2)<br></li>
          <li><input type="checkbox"><b>MEDIUM</b>(100&euro;/m2 < x < 500&euro;/m2)<br></li>
          <li><input type="checkbox"><b>HIGH</b>(500&euro;/m2 < x < 1000&euro;/m2)</li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> SET-UP TIME</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <input type="checkbox"><b>LOW</b>(0 < x < 5h)<br></li>
          <li><input type="checkbox"><b>MEDIUM</b>(5h < x < 2 days)<br></li>
          <li><input type="checkbox"><b>HIGH</b>(2 days < x )</li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> SPECIFIC FEATURES</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <input type="checkbox"><b>FLOORING PROVIDED</b><br></li>
          <li><input type="checkbox"><b>TRANSPORT BY PLANE</b><br></li>
          <li><input type="checkbox"><b>TRANSPORT BY CONTAINER TRUCK</b></li>
          <li><input type="checkbox"><b>TRANSPORT BY PICKUP</b></li>
        </ul>
      </li>
  </div>
  <div class="row sidenav">
      <li class="dropdown" dropdown><a dropdown-open style="color:#1d1d1b"><b> VALIDATION STATUS</b><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li> <input type="checkbox"><b>PRE-VALIDATED</b><br></li>
          <li><input type="checkbox"><b>VALIDATED</b></li>
        </ul>
      </li>
  </div>
  </div>
</div>  
-->