<!--The child you navigate to will live here-->
<app-menu-page></app-menu-page>
<product-filter></product-filter>

  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">  
           <a [routerLink]="['/pages/productdetails', product.ProductID]">
            <img class="img-rounded"
                src='src/assets/desgin_shelter.PNG'
                [title]='product.ProductName | uppercase'
                [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            <div class="caption">
             <p>{{product.ProductName}}</p>
          </div> </a>
      </div>
    </div>  
</div>                                 
