<!--The child you navigate to will live here-->
<app-menu-page></app-menu-page>
<product-filter></product-filter>

<div *ngIf="products" class="product">
 <div *ngFor="let product of products">
   <a [routerLink]="['/pages/productdetails', product.productId]">
     <img class="img-rounded"
      src='http://i.imgur.com/{{product.productFileName}}'
      [title]='product.productName | uppercase'
      [style.width.px]='imageWidth'
      [style.margin.px]='imageMargin'>
      <div class="caption">
         <p>{{product.productName}}</p>
       </div> </a>
  </div>
</div>     
                               
