<app-menu-page></app-menu-page>

<div class ='row'>
        <div class='col-md-3'>
            <img class='img'
            src='../../../assets/product1.jpg'
            [style.width.px]='225'
            >
           
        </div>
        <div class='col-md-2'>   
            <h1 style="margin-left:-150px;font-size:20px">Product<br>Name</h1>
        </div> 
        <div class='col-md-3 col-md-offset-4'>
            <h2 style="float:right;font-size:25px;color:#FF3300">Third Month Feed-back</h2>
        </div>
       
</div>


<div>
    &nbsp;
    <p class='header_class'>Trustworthiness and Durability</p>
    <hr>
</div>

<div class='row'>
        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;">Stability/robustness</p>
                <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
                <p style="padding-left:5px;font-size:10px"><b>consider material,shape,fragility of components and structural connections,safety,vector control</b></p><br/>
                <br><p style="padding-left:5px;font-size:10px;"><b>NOTES</b></p>
                <textarea rows="4" cols="50" placeholder="Lorem Ipsum dolor sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
            </div>
        </div>
        
        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;">Tendency to aging</p>
                <p style="padding-left:5px"><app-star [rating]=3> </app-star></p>
                <p style="padding-left:5px;font-size:10px"><b>consider materials,friction on structural elements,resistance to elements(UV,waterproofing)and cleaning agents(surfanios,chlorine)</b></p><br>
                <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
                <textarea rows="4" cols="50" placeholder="Lorem Ipsum dolor sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
            </div>
        </div>

        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;">Estimated Lifespan for medical use</p>
                <input type="checkbox" style="padding-left:5px;font-size:3px"> BASIC shelter(3 mths < x < 6 mths)<br>
                <input type="checkbox" style="padding-left:5px;font-size:3px"> TRANSITIONAL shelter(x < 18 mths)<br>
                <input type="checkbox" style="padding-left:5px;font-size:3px"> WAREHOUSE structure(x < 2y)<br>
                <input type="checkbox" style="padding-left:5px;font-size:3px" checked> PREFABRICATED structures(x < 5y)
            </div>
        </div>

        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;">Maintenance Plan</p>
                <input type="checkbox" style="padding-left:5px;font-size:3px"checked> YES
                <input type="checkbox" style="padding-left:5px;font-size:3px"> NO
                <p style="padding-left:5px;font-size:10px">repair kit/tools included,clarity of manual,etc,,,</p>

            </div>
        </div>
      
</div>
&nbsp;

<div>
    <p class='header_class'>Modularity and Customization</p>
    <hr>
</div>

<div class='row'>
      
        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;">Modularity</p>
                <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
                <p style="padding-left:5px;font-size:10px">consider flexibility offered to design different matrixes,being supportive of patient flow,number of components available,interchangeability of components ease to extend or reduce ,quality of connections</p>
                <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
                <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
            </div>
        </div>

        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;"><b>Customization</b></p>
                <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
                <p style="padding-left:5px;font-size:10px"><b>consider possibility of drilling holes/attach equipmenton wall/add partitions for privacy</b></p>
                &nbsp;
                <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
                <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
            </div>
        </div>

        <div class='col-md-3'>
            <div class="model">
                <p style="padding-left:5px;font-weight:bold;"><b>Continuity/sustainability</b></p>
                <p style="padding-left:5px"><app-star [rating]=2></app-star></p>
                <p style="padding-left:5px;font-size:10px">consider adequacy for transitional shelter</p>
                &nbsp;
                <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p><br/>
                <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
            </div>
        </div>

</div>


&nbsp;


<div class ='row'>
    <p class='header_class' style = "font-size: 20px;font-weight:normal;font-family:Arial;padding-left:75px">Building Envelope performance</p>
    <hr>
    <div class='col-md-3'>
    <div class="model">
        <p style="padding-left:5px">Thermal Performance</p>
        <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>Low/Medium/High</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
        <p style="padding-left:5px;font-size:10px"><b>Cleanability of floor and walls</b></p>
        <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider of ease of cleaning and materials resistance</b></p>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p style="padding-left:5px"><b>Natural Light</b></p>
        <p style="padding-left:5px"><app-star [rating]=2></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>Low/Medium/High</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
        <p style="padding-left:5px;font-size:10px"><b>Tendency to get dirty/slippery</b></p>
        <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider materials,shape and openings</b></p>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p style="padding-left:5px"><b>Natural Ventilation</b></p>
        <p style="padding-left:5px"><app-star [rating]=0></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>cross ventilation,extractors,tendency for condensation</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>
</div>
&nbsp;

<div class ='row'>
    <p class='header_class' style = "font-size: 20px;font-weight:normal;font-family:Arial;padding-left:75px">Installation</p>
    <hr>

    <div class='col-md-3'>
    <div class="model">
        <p style="padding-left:5px"><b>Required training</b></p>
        <p style="padding-left:5px"><app-star [rating]=4></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider #trained people to set up,required degree of specialized training</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p style="padding-left:5px"><b>Ease,duration and safety of set-up</b></p>
        <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider estimated time, #people required to set up,#steps to install</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p class="thermal" style="padding-left:5px"><b>Required tools and machinery</b></p>
        <p style="padding-left:5px"><app-star [rating]=4></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider type and # of needed tools</b></p>
        &nbsp;
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p class="thermal" style="padding-left:5px"><b>Clarity of manual</b></p>
        <p style="padding-left:5px"><app-star [rating]=4></app-star></p>
        &nbsp;
        &nbsp;
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p><br/>
        <textarea rows="4" cols="42" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>
</div>
&nbsp;

<div class ='row'>
    <p class='header_class' style = "font-size: 20px;font-weight:normal;font-family:Arial;padding-left:75px">Supply</p>
    <hr>
    <div class='col-md-3'>
    <div class="model">
        <p class="thermal" style="padding-left:5px"><b>Mobility</b></p>
        <p style="padding-left:5px"><app-star [rating]=4></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider foldability,weight set-up time,volume for transport</b></p>
        &nbsp;
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p class="thermal" style="padding-left:5px"><b>Quality of service</b></p>
        <p style="padding-left:5px"><app-star [rating]=3></app-star></p>
        <p style="padding-left:5px;font-size:10px"><b>consider ease/speed of communication/languages,professionalism,reactiveness</b></p>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>

    <div class='col-md-3'>
    <div class="model">
        <p class="thermal" style="padding-left:5px"><b>Pricing</b></p>
        <p style="padding-left:5px"><app-star [rating]=4></app-star></p><br>
        <p style="padding-left:5px;font-size:10px"><b>NOTES</b></p><br/>
        <textarea rows="4" cols="50" placeholder="Lorem Ipsum dollar sit amet consectetur adipisicing elit, set do eiusmod tem"></textarea>
    </div>
    </div>
    <hr>
    <button class="button" type="submit" value="submit">SUBMIT</button>
</div>